.nav{
    grid-area: n;
    background-color: #efefef
  } 
 .item{
    color: #333;
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    width: 100%;
  }
  .item a{
    text-decoration: none;
      color: #333;
  }
  .item a.active{
    font-weight: 600;
  }