.app-wrapper{
  display: grid;
  grid-template-areas:
   "h h"
   "n c";
   grid-template-rows: 100px 1fr;
   grid-template-columns: 2fr 10fr;
   grid-gap: 10px;
   max-width: 1200px;
   margin: 0 auto;
}

.app-wrapper-content{
    grid-area: c;
    background-color: #efefef;
}
input, textarea{
    resize: none;
    background: transparent;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: none;
    outline: none;
    padding: 5px;
    max-width: 600px;
}
button{
    font-family: 'Roboto', sans-serif;
    max-width: 250px;
    padding: 10px;
    background: rgba(0,0,0, .3);
    color: #fff;
    box-shadow: none;
    border-radius: 6px;
    border: 0;
    margin-top: 10px;
}